* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5b0b91;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    align-items: center;
    display: flex;
    margin: 50px auto;
    max-width: 550px;
    height: 50px;
    background-color: #434989aa;
    border-radius: 8px;
}

form input {
    height: 100%;
    flex: 1;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 15px;
}

form input::placeholder,
input {
    color: white;
    font-size: 15px;
}

form button {
    height: 100%;
    width: 90px;
    font-size: 15px;
    border: 0;
    outline: 0;
    background-color: #f04f23;
    color: white;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #d84315;
}

#show-more-btn {
    align-items: center;
    display: flex;
    margin: auto;
    height: 30px;
    padding: 8px;
    cursor: pointer;
    background-color: #f04f23;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 3px;
    display: none;
    transition: background-color 0.3s ease;
}

#show-more-btn:hover {
    background-color: #d84315;
}

#search-result {
    width: 90%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#search-result img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Media Queries */
@media (max-width: 768px) {
    #search-result {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 24px;
    }

    form {
        margin: 10px 10px;
    }

    #search-result {
        grid-template-columns: 1fr 1fr;
        margin: 20px auto 10px;
        grid-gap: 10px;
    }

    #search-result img {
        height: auto;
    }
}
